name: Benchmark
on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]
  workflow_dispatch:
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            compiler: clang
            cc: clang
            cxx: clang++
            name: "Ubuntu Clang"
          - os: ubuntu-latest
            compiler: gcc
            cc: gcc
            cxx: g++
            name: "Ubuntu GCC"
          - os: macos-latest
            compiler: clang
            cc: clang
            cxx: clang++
            name: "macOS Clang"
          - os: windows-latest
            compiler: msvc
            name: "Windows MSVC"
    runs-on: ${{ matrix.os }}
    name: Build on ${{ matrix.name }}
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
    
    - name: Setup Clang (Ubuntu)
      if: matrix.os == 'ubuntu-latest' && matrix.compiler == 'clang'
      run: |
        sudo apt-get update
        sudo apt update
        wget https://apt.llvm.org/llvm.sh
        chmod u+x llvm.sh
        sudo ./llvm.sh 20
    
    - name: Setup GCC (Ubuntu)
      if: matrix.os == 'ubuntu-latest' && matrix.compiler == 'gcc'
      run: |
        sudo apt-get install build-essential
        sudo apt-get install g++-14
    
    - name: Setup Clang (macOS)
      if: matrix.os == 'macos-latest'
      run: |
        brew install llvm
    
    - name: Setup MSVC (Windows)
      if: matrix.os == 'windows-latest'
      uses: ilammy/msvc-dev-cmd@v1
    
    - name: Create Build Directory
      run: mkdir -p Build

    - name: Configure CMake (Ubuntu-Gcc)
      if: matrix.os == 'ubuntu-latest' && matrix.compiler == 'gcc'
      run: |
        cmake -S . -B ./Build -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_COMPILER=/usr/bin/g++-14 -DBENCH_TYPE=BENCHMARK -DGENERATE_ASSEMBLY=TRUE 
    
    - name: Configure CMake (Ubuntu-Clang)
      if: matrix.os == 'ubuntu-latest' && matrix.compiler == 'clang'
      run: |
        cmake -S . -B ./Build -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_COMPILER=/usr/bin/clang++-20 -DBENCH_TYPE=BENCHMARK -DGENERATE_ASSEMBLY=TRUE 

    - name: Configure CMake
      if: matrix.os == 'macos-latest'
      run: |
        cmake -S . -B ./Build -DCMAKE_BUILD_TYPE=Release -DBENCH_TYPE=BENCHMARK -DGENERATE_ASSEMBLY=TRUE 

    - name: Configure CMake
      if: matrix.os == 'windows-latest'
      run: |
        cmake -S . -B ./Build -DCMAKE_BUILD_TYPE=Release -DBENCH_TYPE=BENCHMARK -DGENERATE_ASSEMBLY=TRUE 

    - name: Build the Test
      run: |
            cmake --build ./Build --config=Release

    - name: Install the Test
      if: matrix.os != 'windows-latest'
      run: |
            sudo cmake --install ./Build --config=Release

    - name: Install the Test
      if: matrix.os == 'windows-latest'
      run: |
            cmake --install ./Build --config=Release

    - name: Run the Test
      if: matrix.os != 'windows-latest'
      run: |
            sudo chmod +x /usr/local/bin/BenchmarkExe    
            sudo /usr/local/bin/BenchmarkExe

    - name: Run the Test
      if: matrix.os == 'windows-latest'
      run: |
            & "C:/Program Files (x86)/BenchmarkSuite/bin/BenchmarkExe.exe"
