name: BenchmarkSuite Multi-Platform BenchmarkSuite-Only Build
on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]
  workflow_dispatch:
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            compiler: clang
            cc: clang
            cxx: clang++
            name: "Ubuntu Clang"
          - os: ubuntu-latest
            compiler: gcc
            cc: gcc
            cxx: g++
            name: "Ubuntu GCC"
          - os: macos-latest
            compiler: clang
            cc: clang
            cxx: clang++
            name: "macOS Clang"
          - os: windows-latest
            compiler: msvc
            name: "Windows MSVC"
    runs-on: ${{ matrix.os }}
    name: Build on ${{ matrix.name }}
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
    
    - name: Setup Clang (Ubuntu)
      if: matrix.os == 'ubuntu-latest' && matrix.compiler == 'clang'
      run: |
        sudo apt-get update
        sudo apt update
        wget https://apt.llvm.org/llvm.sh
        chmod u+x llvm.sh
        sudo ./llvm.sh 20
    
    - name: Setup GCC (Ubuntu)
      if: matrix.os == 'ubuntu-latest' && matrix.compiler == 'gcc'
      run: |
        sudo apt-get install build-essential
        sudo apt-get install g++-14
    
    - name: Setup Clang (macOS)
      if: matrix.os == 'macos-latest'
      run: |
        brew install llvm
    
    - name: Setup MSVC (Windows)
      if: matrix.os == 'windows-latest'
      uses: ilammy/msvc-dev-cmd@v1
    
    - name: Create Build Directory
      run: mkdir -p Build

    - name: Configure CMake (Ubuntu-Gcc)
      if: matrix.os == 'ubuntu-latest' && matrix.compiler == 'gcc'
      run: |
        cmake -S . -B ./Build -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_RPATH_USE_LINK_PATH=TRUE -DCMAKE_INSTALL_RPATH="@loader_path/../lib" -DBENCHMARKS=TRUE -DCMAKE_CXX_COMPILER=/usr/bin/g++-14 -DBNCH_SWT_INSTALL=FALSE -DGENERATE_ASSEMBLY=TRUE
    
    - name: Configure CMake (Ubuntu-Clang)
      if: matrix.os == 'ubuntu-latest' && matrix.compiler == 'clang'
      run: |
        cmake -S . -B ./Build -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_RPATH_USE_LINK_PATH=TRUE -DCMAKE_INSTALL_RPATH="@loader_path/../lib" -DBENCHMARKS=TRUE -DCMAKE_CXX_COMPILER=/usr/bin/clang++-20 -DBNCH_SWT_INSTALL=FALSE -DGENERATE_ASSEMBLY=TRUE

    - name: Configure CMake
      if: matrix.os == 'macos-latest'
      run: |
        cmake -S . -B ./Build -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_RPATH_USE_LINK_PATH=TRUE -DCMAKE_INSTALL_RPATH="@loader_path/../lib" -DBENCHMARKS=TRUE -DBNCH_SWT_INSTALL=FALSE -DGENERATE_ASSEMBLY=TRUE

    - name: Configure CMake
      if: matrix.os == 'windows-latest'
      run: |
        cmake -S . -B ./Build -DCMAKE_INSTALL_RPATH_USE_LINK_PATH=TRUE -DCMAKE_INSTALL_RPATH="@loader_path/../lib" -DBENCHMARKS=TRUE -DBNCH_SWT_INSTALL=FALSE
    
    - name: Build Project
      run: |
        cmake --build ./Build --config=Release -v
    
    - name: Install Project
      run: |
        cmake --install ./Build --config=Release -v

    - name: Print assembly file
      if: matrix.os != 'windows-latest'
      run: |
            echo "Contents of Assembly.cod:"
            cat Assembly/Assembly.cod
    
    - name: Create Models Directory
      run: |
        mkdir -p installed-to
    
    - name: Set Library Path and Run Model (macOS)
      if: runner.os == 'macOS'
      run: |
        export DYLD_LIBRARY_PATH="${GITHUB_WORKSPACE}/../Install/lib:$DYLD_LIBRARY_PATH"
        chmod +x "/usr/local/bin/BenchmarkExe"
        "/usr/local/bin/BenchmarkExe" -m installed-to/Meta-Llama-3.1-8B-Instruct-Q8_0.gguf -p "What is the meaning of life?" -s 0 -n 8 -no-cnv -t 1 
    
    - name: Set Library Path and Run Model (Linux)
      if: runner.os == 'Linux'
      run: |
        export LD_LIBRARY_PATH="${GITHUB_WORKSPACE}/../Install/lib:$LD_LIBRARY_PATH"
        chmod +x "/usr/local/bin/BenchmarkExe"
        "/usr/local/bin/BenchmarkExe" -m installed-to/Meta-Llama-3.1-8B-Instruct-Q8_0.gguf -p "What is the meaning of life?" -s 0 -n 8 -no-cnv -t 1 
    
    - name: Run Model (Windows)
      if: runner.os == 'Windows'
      run: |
        & "C:/Program Files (x86)/BenchmarkSuite/bin/BenchmarkExe.exe" -m installed-to/Meta-Llama-3.1-8B-Instruct-Q8_0.gguf -p "What is the meaning of life?" -s 0 -n 8 -no-cnv -t 1 
