name: Prepare release for VCPKG

on:
  release:
    types: [published]
  workflow_dispatch:  
    
permissions:
 contents: write

jobs:
  Collect-Vcpkg-Info:
    runs-on: ubuntu-latest
    steps:
         - name: Setup PHP
           uses: shivammathur/setup-php@v2
           with:
             php-version: '8.1'

         - name: Checkout benchmarksuite
           uses: actions/checkout@v4
           with:
             submodules: recursive

         - name: Update vcpkg and install other dependencies
           run: sudo apt-get update &&
                sudo apt-get install nasm linux-headers-$(uname -r) &&
                cd /usr/local/share/vcpkg &&
                sudo ./bootstrap-vcpkg.sh &&
                sudo git stash &&
                sudo git pull &&
                sudo vcpkg update

         - name: Run vcpkg release builder
           run: git fetch --tags --force &&
                cd build_tools &&
                php make_vcpkg.php "${{ github.repository_owner }}" "${{ secrets.GITHUB_TOKEN }}"
